@using Microsoft.AspNetCore.Identity;
@inject SignInManager<CoursesProject.Data.AppUser> _signInManager
@model IEnumerable<CoursesProject.Models.Trainer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (_signInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create" class="btn btn-outline-dark">Create New</a>
    </p>

}
<form action="/" method="post">



    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TrainerName)
                </th>
                <th>
                    Curriculum Vitae
                </th>
                <th>
                    Operations
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @*@item.TrainerName;*@
                        @Html.DisplayFor(modelItem => item.TrainerName)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.attachment)
                        </td>*@
                    <td>
                        <button disabled type="submit" class="btn btn-outline-dark" data-toggle="tooltip" data-placement="top" title="Soon.. not ready yet">
                            Download
                        </button>
                        @*<img src="~/Images/download-btn.png" height="220" width="140" alt="Alternate Text" />*@
                    </td>
                    <td>
                        @if (User.IsInRole("Administrator"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                        }
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>