@using Microsoft.AspNetCore.Identity;
@inject SignInManager<CoursesProject.Data.AppUser> _signInManager
@model IEnumerable<CoursesProject.Models.Trainer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (_signInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>

}
<form action="/" method="post">



    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TrainerName)
                </th>
                <th>
                    Curriculum Vitae
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrainerName)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.attachment)
                    </td>*@
                    <td>
                        <button type="submit" class="btn btn-outline-secondary">
                            Download
                        </button>
                    </td>
                    @*<td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>*@

                    <td>
                        @if (User.IsInRole("Administrator"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>